[mysqld]
bind-address         = 0.0.0.0

general_log          = 1
general_log_file     = /var/log/mysql/mysql.log

query_cache_limit    = 64M
query_cache_size     = 64M
tmp_table_size       = 64M
max_heap_table_size  = 64M
table_cache          = 1024
