<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendors/autoload.php">
    <filter>
        <blacklist>
            <directory suffix=".php">app/Config</directory>
            <directory suffix=".php">app/Test</directory>
            <directory suffix=".php">app/Plugin</directory>
            <directory suffix=".php">lib/Cake</directory>
            <directory suffix=".php">vendors</directory>
            <directory suffix="Test.php">plugins</directory>
        </blacklist>
    </filter>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>
