<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendors/autoload.php">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">app</directory>
            <directory suffix=".ctp">app</directory>
            <exclude>
                <directory suffix=".php">app/Config</directory>
                <directory suffix=".php">app/Lib</directory>
                <directory suffix=".php">app/Plugin</directory>
                <directory suffix=".php">app/Test</directory>
                <directory suffix=".php">app/Vendor</directory>
                <directory suffix=".php">app/tmp</directory>
                <directory suffix=".php">vendors</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>
