/* 
 * style.css for Michael the 2nd
 * Akazawa Studio LLC
 */
body{
    padding-top: 50px;
    color:#000000;
}
main.container, main.container-fluid {
    margin-top: 10px;
}
/* header
--------------------*/
.navbar-inverse .navbar-brand {
    color:#F5A000;
}
.navbar-inverse {
    background-color: #646464;
    border-color: #646464;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: #fff;
}
/* Make the system-header disapear when you don't login.
  To do this, two lines (below) commented out should be enable.
---------------------------------------------------------------------*/
header.nc-system-header-nologgedin {
	/* display: none; */
}
body.body-nologgedin {
	/* padding-top: 0; */
}
/* nc-system-footer
--------------------*/
#nc-system-footer{
    display:none;
}
/* link
--------------------*/
a {
    color: #468CF0;
    text-decoration: none;
}
a:hover, a:focus {
    color: #266CD0;
    text-decoration: underline;
}
/* Button
--------------------*/
a.btn-link, a.btn-link:hover { /* none */
    color:#337ab7; /* default link color */
}
.btn-default {
    color: #fff; /* on setting mode */
    background-color: #646464;
    border-color: #646464;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: #fff; /* on setting mode */
    background-color: #444444;
    border-color: #444444;
}
a.btn-default, a.btn-default:hover {
    color:#fff;
}
.btn-default.frame-header-type-btn {
    color:#646464;  /* without this, button 'none' will disapear on setting mode */
}
.btn-primary {
    background-color: #F5A000;
    border-color: #F5A000;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #D58000;
    border-color: #D58000;
}
a.btn-primary, a.btn-primary:hover  {
    color:#000;
}
.btn-info {
    background-color: #B46E28;
    border-color: #B46E28;;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    background-color: #944E01;
    border-color: #944E01;
}
a.btn-info, a.btn-info:hover  {
    color:#fff;
}
.btn-success {
    background-color: #6EAA3C;
    border-color: #6EAA3C;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    background-color: #4E881C;
    border-color: #4E881C;
}
a.btn-success, a.btn-success:hover  {
    color:#fff;
}
.btn-warning {
    background-color: #AAD228;
    border-color: #AAD228
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
    background-color: #8AAF14;
    border-color: #8AAF14;
}
a.btn-warning, a.btn-warning:hover  {
    color:#000;
}
.btn-danger {
    background-color: #FAB4AA;
    border-color: #FAB4AA;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
    background-color: #EB8796;
    border-color: #EB8796;
}
a.btn-danger, a.btn-danger:hover  {
    color:#000;
}
.btn-link:hover, .btn-link:focus, .btn-link:active, .btn-link.active, .open .dropdown-toggle.btn-link {
    background-color:#dddddd;
    border-color:#dddddd;
    border-radius:4px;
    text-decoration:none;
}
/* For forgetting password */
.wizard-steps .btn-primary{
    background-color:transparent;
}
/* Large button , Button block*/
.btn-lg, .btn-block {
    border-radius:0px;
}
/* frame heading
--------------------*/
.panel-default {
    border-color: #646464;
}
.panel-default>.panel-heading {
    color: #ffffff;
    background-color: #646464;
    border-color: #646464;
}
.panel-primary {
    border-color: #F5A000;
}
.panel-primary>.panel-heading {
    color: #000000;
    background-color: #F5A000;
    border-color: #F5A000;
}
.panel-info {
    border-color: #B46E28;
}
.panel-info>.panel-heading {
    color: #ffffff;
    background-color: #B46E28;
    border-color: #B46E28;
}
.panel-success {
    border-color: #6EAA3C;
}
.panel-success>.panel-heading {
    color: #ffffff;
    background-color: #6EAA3C;
    border-color: #6EAA3C;
}
.panel-warning {
    border-color: #AAD228;
}
.panel-warning>.panel-heading {
    color: #000000;
    background-color: #AAD228;
    border-color: #AAD228;
}
.panel-danger {
    border-color: #FAB4AA;
}
.panel-danger>.panel-heading {
    color: #000000;
    background-color: #FAB4AA;
    border-color: #FAB4AA;
}
/* List menu
--------------------*/
a.list-group-item, a.list-group-item:hover {
    color:#000;
}
.list-group-item {
    background-color: #ffffff;
    border-top: 1px solid #646464;
    border-bottom: 1px solid #646464;
    border-right:none;
    border-left:none;
    padding:4px 0 0px 0;
}
.list-group-item:first-child, .list-group-item:last-child {
    border-radius:0;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    color:#000;
    background-color:#ffffff;
    border-top:1px solid #646464;
    border-bottom:1px solid #646464;
}
.list-group-item.active > .pull-left:before{
    content:url(../images/rectangle-orange.png);
    display:inline-block;
    vertical-align: middle;
    margin-right:0.8em;
}
.list-group-item:not(.active) > .pull-left:before {
    content:url(../images/rectangle-gray.png);
    display:inline-block;
    vertical-align: middle;
    margin-right:0.8em;
}
.list-group-item > .pull-right > .glyphicon {
    top:0.7em;
}
/* nav-tabs
--------------------*/
ul.nav-tabs.menu-header-tabs {
    margin-bottom:0;
    border:none;
}
.nav-tabs.menu-header-tabs > li {
    border-radius:0;
    background-color: #ffffff;
    border:none;
}
.nav-tabs.menu-header-tabs > li > a{
    padding:8px 15px;
    margin:0px;
}
.nav-tabs.menu-header-tabs > li.active {
    background-color:#B46E28;
}
.nav-tabs.menu-header-tabs > li.active > a {
    color:#fff;
    cursor: pointer !important;
    background-color:transparent;
}
.nav-tabs.menu-header-tabs > li:not(.active) {
    border-left:solid 1px #646464;
    border-radius:0;
}
.nav-tabs.menu-header-tabs > li:not(.active) > a {
    color:#000;
    border-radius:0;
}
.nav-tabs.menu-header-tabs > li.active + li:not(.active) {
    border-left:none;
}
.nav-tabs.menu-header-tabs > li:not(.active):last-child {
    border-right:solid 1px #646464;
}
/* footer-menu (nav-pills)
--------------------------*/
ul.nav-pills {
    margin-bottom:0;
}
.nav-pills.menu-footer-tabs > li {
    border-radius:8px;
    border: solid 2px #ffffff;
}
.nav-pills.menu-footer-tabs > li.active {
    background-color:transparent;   /* 消し込み */
}
.nav-pills.menu-footer-tabs > li:hover {
    border-radius:8px;
}
.nav-pills.menu-footer-tabs > li > a {
    padding:8px 15px;
    border-radius:8px;
    border:1px solid #646464;
}
.nav-pills.menu-footer-tabs > li.active > a {
    color: #fff;
    background-color: #B46E28;
    border-color: #B46E28;
}
.nav-pills.menu-footer-tabs > li:not(.active) > a {
    color:#000000;
}
.nav-pills.menu-footer-tabs > li:not(.active) > a:hover {
    background-color: #dddddd;
}
/* bread crumb
--------------------*/
.breadcrumb {
    padding:4px 15px;
    border-radius:0;
    margin-bottom:0;
    background-color:transparent;
}
.breadcrumb a {
    color:#B46E28;
}
/* Site Manager
-----------------------------------------------------*/
.plugin-site-manager .nav {
    margin-bottom:1.2em;
}
/* .nav-tabs */
.plugin-site-manager .nav-tabs {
    border:none;
}
.plugin-site-manager .nav-tabs > li {
    border-radius:0;
    background-color: #ffffff;
}
.plugin-site-manager .nav-tabs > li > a {
    padding:8px 15px;
    margin:0px;
    border:none;
}
.plugin-site-manager .nav-tabs > li.active {
    background-color:#B46E28;
}
.plugin-site-manager .nav-tabs > li.active > a {
    color:#fff;
    cursor: pointer !important;
    background-color:transparent;
    border:none;
}
.plugin-site-manager .nav-tabs > li:not(.active) {
    border-left:solid 1px #646464;
}
.plugin-site-manager .nav-tabs > li:not(.active) > a {
    color:#000;
    border-radius:0;
}
.plugin-site-manager .nav-tabs > li.active + li:not(.active) {
    border-left:none;
}
.plugin-site-manager .nav-tabs > li:not(.active):last-child {
    border-right:solid 1px #646464;
}
/* .nav-pills */
.plugin-site-manager .nav-pills > li {
    border-radius:8px;
    border: solid 2px #ffffff;
}
.plugin-site-manager .nav-pills > li.active {
    background-color:transparent;   /* 消し込み */
}
.plugin-site-manager .nav-pills > li:hover {
    border-radius:8px;
}
.plugin-site-manager .nav-pills > li > a {
    padding:8px 15px;
    border-radius:8px;
    border:1px solid #646464;
}
.plugin-site-manager .nav-pills > li.active > a {
    color: #fff;
    background-color: #B46E28;
    border-color: #B46E28;
}
.plugin-site-manager .nav-pills > li:not(.active) > a {
    color:#000000;
}
.plugin-site-manager .nav-pills > li:not(.active) > a:hover {
    background-color: #dddddd;
}
/* List */
.control-panel-nav .list-group-item.active:before {
    content:url(../images/rectangle-orange.png);
    display:inline-block;
    vertical-align: middle;
    margin-right:0.8em;
}
.control-panel-nav .list-group-item:not(.active):before {
    content:url(../images/rectangle-gray.png);
    display:inline-block;
    vertical-align: middle;
    margin-right:0.8em;
}
/* Calendar
-----------------------------*/
.calendar-room-legend.panel-default {
    border-color:#ddd;    /* default value */
}