/*
 * style.css for Michael the 5th
 * Akazawa Studio LLC
 */
body{
    padding-top: 50px;
    color:#000000;
}
main.container, main.container-fluid {
    margin-top: 10px;
}
/* header
--------------------*/
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand:visited {
    color:#328C46;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color:#126C26;
}
.navbar-inverse {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    opacity:0.9;
}
.navbar-inverse .navbar-nav>li>a {
    color:#787878;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color:#000000;
}
/* Login button for smartphone to prevent from white out */
.navbar-inverse .navbar-toggle {
    border-color:#969696;
}
.navbar-toggle {
    background-color:#969696;
}
/* Make the system-header disapear when you don't login.
  To do this, two lines (below) commented out should be enable.
---------------------------------------------------------------------*/
header.nc-system-header-nologgedin {
	/* display: none; */
}
body.body-nologgedin {
	/* padding-top: 0; */
}
/* nc-system-footer
--------------------*/
#nc-system-footer{
    display:none;
}
/* link
--------------------*/
a {
    color: #468CF0;
    text-decoration: none;
}
a:hover, a:focus {
    color: #266CD0;
    text-decoration: underline;
}
/* Button
--------------------*/
.btn-default {
    color: #fff;
    background-color: #787878;
    border-color: #787878;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: #fff;
    background-color: #5A5A5A;
    border-color: #5A5A5A;
}
.btn-default.frame-header-type-btn {
    color:#646464;  /* without this, button 'none' will disapear on setting mode */
}
.btn-primary {
    color: #fff;
    background-color: #328C46;
    border-color: #328C46;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #126C26;
    border-color: #126C26;
}
.btn-info {
    color: #000;
    background-color: #78D266;
    border-color: #78D266;;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    color: #000;
    background-color: #58B246;
    border-color: #58B246;
}
.btn-success {
    color: #000;
    background-color: #82BEF0;
    border-color: #82BEF0;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    color: #000;
    background-color: #5A9BDC;
    border-color: #5A9BDC;
}
.btn-warning {
    color: #000;
    background-color: #F5A000;
    border-color: #F5A000
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
    color: #000;
    background-color: #D58000;
    border-color: #D58000;
}
.btn-danger {
    color: #fff;
    background-color: #F05A82;
    border-color: #F05A82;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #E11950;
    border-color: #E11950;
}
.btn-link:hover, .btn-link:focus, .btn-link:active, .btn-link.active, .open .dropdown-toggle.btn-link {
    background-color:#F0F0F0;
    border-color:#F0F0F0;
    border-radius:4px;
    text-decoration:none;
}
/* For forgetting password */
.wizard-steps .btn-primary{
    background-color:transparent;
}
/* Large button , Button block*/
.btn-lg, .btn-block {
    border-radius:0px;
}
/* heading
--------------------*/
.panel-default {
    border-color: #787878;
}
.panel-default>.panel-heading {
    color: #fff;
    background-color: #787878;
    border-color: #787878;
}
.panel-primary {
    border-color: #328C46;
}
.panel-primary>.panel-heading {
    color: #fff;
    background-color: #328C46;
    border-color: #328C46;
}
.panel-info {
    border-color: #78D266;
}
.panel-info>.panel-heading {
    color: #000;
    background-color: #78D266;
    border-color: #78D266;
}
.panel-success {
    border-color: #82BEF0;
}
.panel-success>.panel-heading {
    color: #000;
    background-color: #82BEF0;
    border-color: #82BEF0;
}
.panel-warning {
    border-color: #F5A000;
}
.panel-warning>.panel-heading {
    color: #000;
    background-color: #F5A000;
    border-color: #F5A000;
}
.panel-danger {
    border-color: #F05A82;
}
.panel-danger>.panel-heading {
    color: #fff;
    background-color: #F05A82;
    border-color: #F05A82;
}
/* List menu
--------------------*/
a.list-group-item {
    color:#000;
    background-color:#F0F0F0;
    padding:6px 6px 4px 10px;
}
a.list-group-item:hover {
    color:#000;
    background-color:#DCDCDC;
}
.list-group-item:first-child, .list-group-item:last-child {
    border-radius:0;
}
.list-group-item.menu-tree-0 {
    border:solid 2px #ffffff;
    border-radius:8px !important;
}
.list-group-item.menu-tree-0 .pull-left:before {
    content: '';
    display:inline-block;
    width:30px;
    height:30px;
    background-image:url(../images/kaeru_gray50.png);
    background-size:contain;
    vertical-align:middle;
    margin-right:0.5em;
}
.list-group-item.menu-tree-0.active .pull-left:before {
    background-image:url(../images/kaeru_green50.png);
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    color: #fff;
    background-color: #328C46;
    border-color: #ffffff;
    border-radius:6px;
}
.list-group-item.menu-tree-1 {
    border:none;
    border-radius:0;
    margin-top:2px;
    margin-bottom:2px;
    padding:8px 15px;
}
.list-group-item.menu-tree-1.active {
    border-radius:0;
}
.list-group-item.menu-tree-1:not(.active) {
    color:#000;
    background-color: #ffffff;
    border-bottom:solid 1px #787878;
}
.list-group-item.menu-tree-1:not(.active):hover {
    background-color:#DCDCDC;
}
.list-group-item > .pull-right > .glyphicon {
    top:0.4em;
}
/* nav-tabs
--------------------*/
ul.nav-tabs {
    margin-bottom:0;
}
.nav-tabs > li {
    border-radius: 8px;
}
.nav-tabs > li:hover {
    background-color:#F0F0F0;
}
.nav-tabs > li > a{
    padding:6px 15px;
    line-height:1em;
}
.nav-tabs > li.active, .nav-tabs > li:not(.active) {
    border:none;
}
.nav-tabs > li:not(.active) > a {
    color:#000;
}
.nav-tabs > li:not(.active) > a span:first-child:before {
    content: url(../images/kaeru_gray30.png) "\A";
    white-space: pre;
}
.nav-tabs > li.active > a , .nav-tabs > li.active > a:hover {
    color:#328C46;
    cursor: pointer !important;
    font-weight:bold;
}
.nav-tabs > li.active > a span:first-child:before {
    content: url(../images/kaeru_green30.png) "\A";
    white-space: pre;
}
.nav-tabs > li:not(.active):hover, .nav-tabs > li:not(.active):focus {
    border-radius:8px;
    background-color:#F0F0F0;
}
/* footer-menu (nav-pills)
--------------------------*/
ul.nav-pills {
    margin-bottom:0;
}
.nav-pills > li  {
    border-radius:0;
    border:none;
    background-color:#FFFFFF !important;
    padding:0px 3px;
}
.nav-pills > li:first-child {
    padding-left:0px;
}
.nav-pills > li:last-child {
    padding-right:0px;
}
.nav-pills > li > a {
    padding:6px 0px;
    line-height:1em;
    border-radius:0;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover {
    color:#FFFFFF;
    border:1px solid #78D266;
    background-color:#78D266;
    cursor: pointer !important;
}
.nav-pills > li:not(.active) > a {
    color:#000;
    border:1px solid #DCDCDC;    
}
.nav-pills > li:not(.active) > a span:first-child:before {
    content: url(../images/kaeru_gray30.png) "\A";
    white-space: pre;
}
.nav-pills > li.active > a span:first-child:before {
    content: url(../images/kaeru_white30.png) "\A";
    white-space: pre;
}
/* bread crumb
--------------------*/
.breadcrumb {
    padding:4px 15px;
    border-radius:0;
    margin-bottom:0;
    background-color:transparent;
}
.breadcrumb a {
    color:#328C46;
}
/* Site Manager
-------------------------------------------------------*/
.plugin-site-manager .nav {
    margin-bottom:1.2em;
}
/* .nav-tabs */
.plugin-site-manager .nav-tabs {
    border:none;
}
.plugin-site-manager .nav-tabs > li {
    border-radius:8px;
    text-align:center;
}
.plugin-site-manager .nav-tabs li > a {
    border-radius:8px !important;
    border:none;
}
.plugin-site-manager .nav-tabs > li.active > a:before {
    content: url(../images/kaeru_green30.png) "\A";
    white-space: pre;
}
.plugin-site-manager .nav-tabs > li:not(.active) > a:before {
    content: url(../images/kaeru_gray30.png) "\A";
    white-space: pre;
}
.plugin-site-manager .nav-tabs>li.active>a, .plugin-site-manager .nav-tabs>li.active>a:hover {
    border:none;
    background-color:transparent;
}
/* .nav-pills */
.plugin-site-manager .nav-pills > li {
    text-align:center;
}
.plugin-site-manager .nav-pills > li > a, .plugin-site-manager .nav-pills > li > a:hover {

    padding:6px;
}
.plugin-site-manager .nav-pills > li.active > a:before {
    background-color:#78D266;
    content: url(../images/kaeru_white30.png) "\A";
    white-space: pre;
}
.plugin-site-manager .nav-pills > li:not(.active) > a:before {
    content: url(../images/kaeru_gray30.png) "\A";
    white-space: pre;
}
.plugin-site-manager .nav-pills > li:not(.active) > a:hover, .plugin-site-manager .nav-pills > li:not(.active) > a:focus {
    background-color:#F0F0F0;
}
/* List menu */
.control-panel-nav .list-group-item {
    border:solid 2px #ffffff;
    border-radius:8px;
    padding:4px 0px 2px 4px;
}
.control-panel-nav .list-group-item:before{
    content: '';
    display:inline-block;
    width:30px;
    height:30px;
    background-image:url(../images/kaeru_gray50.png);
    background-size:contain;
    vertical-align:middle;
    margin-right:0.2em;
}
.control-panel-nav .list-group-item.active:before {
    background-image:url(../images/kaeru_green50.png);
}
/* Calendar
-----------------------------*/
.calendar-room-legend.panel-default {
    border-color:#ddd;    /* default value */
}