/* style.css */

body{
	padding-top: 50px;
}
main.container, main.container-fluid {
	margin-top: 10px;
}

/* Width Set */
@media (min-width:768px){.container{width:100%}
}
@media (min-width:992px){.container{width:970px}
}
@media (min-width:1200px){.container{width:1170px}
}


/* Radius Set */
@media print{
.img-rounded{border-radius:0}
.img-thumbnail{border-radius:0}
}

code{border-radius:0}
kbd{border-radius:0}
pre{border-radius:0}
.form-control{border-radius:0}
.input-sm{border-radius:0}
.input-lg{border-radius:0}
.btn{border-radius:0}
.btn-lg,.btn-group-lg>.btn{border-radius:0}
.btn-sm,.btn-group-sm>.btn{border-radius:0}
.btn-xs,.btn-group-xs>.btn{border-radius:0}
.dropdown-menu{border-radius:0}
.btn-group-vertical>.btn:first-child:not(:last-child){border-top-right-radius:0}
.btn-group-vertical>.btn:last-child:not(:first-child){border-bottom-left-radius:0}
.input-group-lg>.form-control,.input-group-lg>.input-group-addon,.input-group-lg>.input-group-btn>.btn{border-radius:0}
.input-group-sm>.form-control,.input-group-sm>.input-group-addon,.input-group-sm>.input-group-btn>.btn{border-radius:0}
.input-group-addon{border-radius:0}
.input-group-addon.input-sm{border-radius:0}
.input-group-addon.input-lg{border-radius:0}
.nav-tabs>li>a{border-radius:0}
.nav-tabs.nav-justified>li>a{border-radius:0}

@media (min-width:768px){.nav-tabs.nav-justified>li>a{border-radius:0}
}

.nav-pills>li>a{border-radius:0}
.nav-tabs-justified>li>a{border-radius:0}

@media (min-width:768px){.nav-tabs-justified>li>a{border-radius:0}
}
@media (min-width:768px){.navbar{border-radius:0}
}

.navbar-toggle{border-radius:0}
.navbar-toggle .icon-bar{border-radius:0}
.breadcrumb{border-radius:0}
.pagination{border-radius:0}
.pagination>li:first-child>a,.pagination>li:first-child>span{border-bottom-left-radius:0;border-top-left-radius:0}
.pagination>li:last-child>a,.pagination>li:last-child>span{border-bottom-right-radius:0;border-top-right-radius:0}

.pagination-lg>li:first-child>a,.pagination-lg>li:first-child>span{border-bottom-left-radius:0px;border-top-left-radius:0}
.pagination-lg>li:last-child>a,.pagination-lg>li:last-child>span{border-bottom-right-radius:0px;border-top-right-radius:0}
.pagination-sm>li:first-child>a,.pagination-sm>li:first-child>span{border-bottom-left-radius:0px;border-top-left-radius:0}
.pagination-sm>li:last-child>a,.pagination-sm>li:last-child>span{border-bottom-right-radius:0px;border-top-right-radius:0}
.pager li>a,.pager li>span{border-radius:0}
.label{border-radius:0}
.badge{border-radius:0}
.container .jumbotron{border-radius:0}
.thumbnail{border-radius:0}
.alert{border-radius:0}
.progress{border-radius:0}
.list-group-item:first-child{border-top-right-radius:0;border-top-left-radius:0}
.list-group-item:last-child{border-bottom-right-radius:0;border-bottom-left-radius:0}
.panel{border-radius:0;-webkit-box-shadow:0 0 0 rgba(0,0,0,0);box-shadow:0 0 0 rgba(0,0,0,0)}
.panel-heading{border-top-right-radius:0;border-top-left-radius:0}
.panel-footer{border-bottom-right-radius:0;border-bottom-left-radius:0}
.panel>.list-group:first-child .list-group-item:first-child{border-top-right-radius:0;border-top-left-radius:0}
.panel>.list-group:last-child .list-group-item:last-child{border-bottom-right-radius:0;border-bottom-left-radius:0}
.panel>.table:first-child,.panel>.table-responsive:first-child>.table:first-child{border-top-right-radius:0px;border-top-left-radius:0px}
.panel>.table:first-child>thead:first-child>tr:first-child td:first-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:first-child,.panel>.table:first-child>tbody:first-child>tr:first-child td:first-child,.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:first-child,.panel>.table:first-child>thead:first-child>tr:first-child th:first-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:first-child,.panel>.table:first-child>tbody:first-child>tr:first-child th:first-child,.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:first-child{border-top-left-radius:0px}
.panel>.table:first-child>thead:first-child>tr:first-child td:last-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:last-child,.panel>.table:first-child>tbody:first-child>tr:first-child td:last-child,.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:last-child,.panel>.table:first-child>thead:first-child>tr:first-child th:last-child,.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:last-child,.panel>.table:first-child>tbody:first-child>tr:first-child th:last-child,.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:last-child{border-top-right-radius:0px}
.panel>.table:last-child,.panel>.table-responsive:last-child>.table:last-child{border-bottom-right-radius:0px;border-bottom-left-radius:0px}
.panel>.table:last-child>tbody:last-child>tr:last-child td:first-child,.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:first-child,.panel>.table:last-child>tfoot:last-child>tr:last-child td:first-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:first-child,.panel>.table:last-child>tbody:last-child>tr:last-child th:first-child,.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:first-child,.panel>.table:last-child>tfoot:last-child>tr:last-child th:first-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:first-child{border-bottom-left-radius:0px}
.panel>.table:last-child>tbody:last-child>tr:last-child td:last-child,.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:last-child,.panel>.table:last-child>tfoot:last-child>tr:last-child td:last-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:last-child,.panel>.table:last-child>tbody:last-child>tr:last-child th:last-child,.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:last-child,.panel>.table:last-child>tfoot:last-child>tr:last-child th:last-child,.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:last-child{border-bottom-right-radius:0px}
.panel-group .panel{border-radius:0;}
.well{border-radius:0;}
.well-lg{border-radius:0px}
.well-sm{border-radius:0px}
.modal-content{border-radius:0px;}
.tooltip-inner{border-radius:0}
.popover{border-radius:0px;}
.popover-title{border-radius:0}
.carousel-indicators li{border-radius:0;}


/* Layout Set */
#nc-container {margin-top: 3px;padding:0;background-color: #f9f9ff;}
.control-panel article h1,.control-panel article h2 {margin:16px 0 10px 15px;}

/* header */
#container-header p {margin: 0 0 1px;padding:0;}
#nc-container #container-main p {margin-bottom:1px;padding:0;}
#nc-container #container-major p {margin-bottom:1px;padding:0;}
#nc-container #container-minor p {margin-bottom:1px;padding:0;}
#container-main>p>.btn.btn-primary {padding:25px 12px 45px}
#container-major>p>.btn.btn-primary {padding:25px 12px 45px}
#container-minor>p>.btn.btn-primary {padding:25px 12px 45px}
#nc-container #container-header .btn.btn-primary {padding:25px 12px 45px}
#nc-container #container-footer .btn.btn-primary {padding:25px 12px 45px}

/* main */
.row {margin:0;}
.panel {margin-bottom:1px;}
#nc-container #container-main {padding:0;}
#nc-container #container-major {padding:0 0 0 0;border-right: solid 1px #fff;}
#nc-container #container-minor {padding:0 0 0 1px;}

.panel-default {border:none;}
.panel-heading {margin-bottom:0;border:none;background:#dae8ff;font-size:16px;font-weight:bold;}
.panel-heading span {margin-right:-3px;}
#container-main .panel-body {padding:15px;margin-bottom:1px;background:#f9f9ff;}
.panel-danger,.panel-warning,.panel-success,.panel-info,.panel-primary,.panel-default,.panel {border:none!important;}
#container-major .panel-body {padding:0;}
.list-group {margin-bottom:1px;}

/* menu left */
a.list-group-item {width:50%;height:75px;padding:0 5px;display:flex;justify-content:center;align-items:center;text-align:center;float:left;}
@media (min-width:768px){a.list-group-item {height:75px;}
}
@media (min-width:992px){a.list-group-item {height:80px;}
}
@media (min-width:1200px){a.list-group-item {height:90px;}
}
a.list-group-item:nth-child(2n+1) {background:#f9f9ff;border-left:solid 1px #f9f9ff!important;}
a.list-group-item:nth-child(2n) {background:#f9f9ff;}
a.list-group-item:nth-child(4n+1) {background:#fff;}
a.list-group-item:nth-child(4n) {background:#fff;}
a.list-group-item:hover {background:#f5f5f5;}
a.list-group-item:hover:nth-child(2n+1) {border-left:solid 1px #f5f5f5!important;}

.list-group-item {border:none!important;}
.panel-footer {border-top: none;border-bottom:solid 1px #fff;padding:25px 15px;}
.nc-danger-zone {padding: 15px 15px 0;}

/* footer */
#nc-system-footer {margin-top:0!important;}
#container-footer p {margin-bottom:1px;}


/* Color Set */

/* header */
.navbar-inverse {
    background-color: rgba(0,38,112,0.8);
    border-color: #37538C;
}
/* link */
a {
    color: #37538C;
    text-decoration: none;
}
a:hover, a:focus {
    color: #303362;
    text-decoration: underline;
}
.btn-success {
    color: #fff;
    background-color: #62A9ED;
    border-color: #62A9ED;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #308EC8;
    border-color: #308EC8;
}
.btn-primary {
    color: #fff;
    background-color: #37538C;
    border-color: #37538C;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #303362;
    border-color: #303362;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: #fff;
    background-color: #303362;
}
a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    z-index: 2;
    color: #fff;
    background-color: #37538C;
    border-color: #37538C;
}
/* heading */
.panel-default {
    border-color: #97C1E5;
}
.panel-default>.panel-heading {
    color: #333333;
    background-color: #E9F1FF;
    border-color: #97C1E5;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #ffffff;
    border: 1px solid #97C1E5;
}
/* item */
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #6B80AE;
    border-color: #6B80AE;
}
/* form */
.btn-default {
    color: #ffffff;
    background-color: #6596D6;
    border-color: #6596D6;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: #ffffff;
    background-color: #6B80AE;
    border-color: #6B80AE;
}

/**
 * フッターメニュー
 */
.menu-footer-tabs.nav-pills.nav-justified > li {
	border: 1px solid #97C1E5;
}
.menu-footer-tabs.nav-justified > li.active,
.menu-footer-tabs.nav-justified > li.active:focus,
.menu-footer-tabs.nav-justified > li.active:hover {
	background-color: #6B80AE;
}
