/*
 * style.css for Michael the 1st
 * Akazawa Studio LLC
 */
body{
    padding-top: 50px;
    color:#000000;
}
main.container, main.container-fluid {
    margin-top: 10px;
}
/* header
--------------------*/
.navbar-inverse .navbar-brand {
    color:#AAD228;
}
.navbar-inverse {
    background-color: #646464;
    border-color: #646464;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: #fff;
}
/* Make the system-header disapear when you don't login.
  To do this, two lines (below) commented out should be enable.
---------------------------------------------------------------------*/
header.nc-system-header-nologgedin {
	/* display: none; */
}
body.body-nologgedin {
	/* padding-top: 0; */
}
/* nc-system-footer
--------------------*/
#nc-system-footer{
    display:none;
}
/* link
--------------------*/
a {
    color: #468CF0;
    text-decoration: none;
}
a:hover, a:focus {
    color: rgb(38, 66, 105);
    text-decoration: underline;
}
/* Button
--------------------*/
a.btn-link, a.btn-link:hover { /* none */
    color:#337ab7; /* default link color */
}
.btn-default{
    color:#fff; /* on setting mode */
    background-color: #646464;
    border-color: #646464;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color:#fff; /* on setting mode */
    background-color: #444444;
    border-color: #444444;
}
a.btn-default, a.btn-default:hover {
    color:#fff;
}
.btn-default.frame-header-type-btn {
    color:#646464;  /* without this, button 'none' will disapear on setting mode */
}
.btn-primary {
    background-color: #6EAA3C;
    border-color: #6EAA3C;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #4E881C;
    border-color: #4E881C;
}
a.btn-primary, a.btn-primary:hover  {
    color:#fff;
}
.btn-info {
    background-color: #AAD228;
    border-color: #AAD228;;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    background-color: #8AAF14;
    border-color: #8AAF14;
}
a.btn-info, a.btn-info:hover  {
    color:#000;
}
.btn-success {
    background-color: #B46E28;
    border-color: #B46E28;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    background-color: #944E01;
    border-color: #944E01;
}
a.btn-success, a.btn-success:hover  {
    color:#fff;
}
.btn-warning {
    background-color: #F5A000;
    border-color: #F5A000
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
    background-color: #D58000;
    border-color: #D58000;
}
a.btn-warning, a.btn-warning:hover  {
    color:#000;
}
.btn-danger {
    background-color: #FAB4AA;
    border-color: #FAB4AA;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
    background-color: #EB8796;
    border-color: #EB8796;
}
a.btn-danger, a.btn-danger:hover  {
    color:#000;
}
.btn-link:hover, .btn-link:focus, .btn-link:active, .btn-link.active, .open .dropdown-toggle.btn-link {
    background-color:#dddddd;
    border-color:#dddddd;
    border-radius:4px;
    text-decoration:none;
}
/* For forgetting password */
.wizard-steps .btn-primary{
    background-color:transparent;
}
/* Large button , Button block*/
.btn-lg, .btn-block {
    border-radius:0px;
}
/* frame headings
--------------------*/
.panel-default {
    border-color: #646464;
}
.panel-default>.panel-heading {
    color: #ffffff;
    background-color: #646464;
    border-color: #646464;
}
.panel-primary {
    border-color: #6EAA3C;
}
.panel-primary>.panel-heading {
    color: #ffffff;
    background-color: #6EAA3C;
    border-color: #6EAA3C;
}
.panel-info {
    border-color: #AAD228;
}
.panel-info>.panel-heading {
    color: #000000;
    background-color: #AAD228;
    border-color: #AAD228;
}
.panel-success {
    border-color: #B46E28;
}
.panel-success>.panel-heading {
    color: #ffffff;
    background-color: #B46E28;
    border-color: #B46E28;
}
.panel-warning {
    border-color: #F5A000;
}
.panel-warning>.panel-heading {
    color: #000000;
    background-color: #F5A000;
    border-color: #F5A000;
}
.panel-danger {
    border-color: #FAB4AA;
}
.panel-danger>.panel-heading {
    color: #000000;
    background-color: #FAB4AA;
    border-color: #FAB4AA;
}
/* List menu
--------------------*/
a.list-group-item, a.list-group-item:hover {
    color:#000;
}
.list-group-item {
    background-color: #ffffff;
    border: 1px solid #646464;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    color: #fff;
    background-color: #6EAA3C;
    border-color: #6EAA3C;
}
/* nav-tabs
--------------------*/
ul.nav-tabs.menu-header-tabs {
    margin-bottom:0;
}
.nav-tabs.menu-header-tabs {
    border-bottom:solid 3px #AAD228;
}
.nav-tabs.menu-header-tabs > li {
    border-radius:0;
    border:none !important;
    background-color: #646464;
}
.nav-tabs.menu-header-tabs > li > a{
    padding:8px 15px;
}
.nav-tabs.menu-header-tabs > li.active {
    background-color:#AAD228;
}
.nav-tabs.menu-header-tabs > li.active > a {
    color:#000000;
    cursor: pointer !important;
}
.nav-tabs.menu-header-tabs > li:not(.active) > a {
    color:#c8c8c8;
}
.nav-tabs.menu-header-tabs > li:not(.active):hover {
    background-color:#848484;
    border-radius:0;
}
/* footer-menu (nav-pills)
--------------------------*/
ul.nav-pills {
    margin-bottom:0;
}
.nav-pills.menu-footer-tabs > li {
    border:none;    /* 消し込み */
    border-radius:0; /* 消し込み */
    padding:0px 0px;
}
.nav-pills.menu-footer-tabs > li.active {
    background-color:transparent; /* 消し込み */
}
.nav-pills.menu-footer-tabs > li > a {
    border-radius:0;    /* 消し込み */
    padding:8px 3px;
    background-color:#646464;
    margin-left:3px;
    border-bottom:4px solid #AAD228;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.nav-pills.menu-footer-tabs > li:first-child > a {
    margin-left:0px;
}
.nav-pills.menu-footer-tabs > li.active > a {
    color:#000;
    background-color: #AAD228;
    border-bottom:4px solid #646464;
}
.nav-pills.menu-footer-tabs > li:not(.active) > a {
    color:#c8c8c8;
}
.nav-pills.menu-footer-tabs > li:not(.active) > a:hover {
    color:#fff;
    background-color: #848484;
}
/* bread crumb
--------------------*/
.breadcrumb {
    padding:4px 15px;
    border-radius:0;
    margin-bottom:0;
    background-color:transparent;
}
.breadcrumb a {
    color:#6EAA3C;
}
/* Site Manager
-----------------------------------------------------*/
.plugin-site-manager .nav {
    margin-bottom:1.2em;
}
/* .nav-tabs */
.plugin-site-manager .nav-tabs > li > a {
    border:none; /* 消し込み */
}
.plugin-site-manager .nav-tabs {
    border-radius:0;
    background-color: #646464;
    border-bottom:solid 3px #AAD228;
}
.plugin-site-manager .nav-tabs li.active > a {
    color:#000000;
    background-color:#AAD228;
    cursor: pointer !important;
    border:1px solid #AAD228;
    border-radius:0;
}
.plugin-site-manager .nav-tabs li:not(.active) > a {
    color:#c8c8c8;
}
.plugin-site-manager .nav-tabs li:not(.active) > a:hover {
    background-color:#848484;
    border-radius:0;
}
/* .nav-pills */
.plugin-site-manager .nav-pills > li > a {
    border-radius:0;    /* 消し込み */
    padding:8px 15px;
    color:#C8C8C8;
    background-color:#646464;
    margin-left:3px;
    border-bottom:4px solid #AAD228;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.plugin-site-manager .nav-pills > li.active > a {
    color:#000;
    background-color: #AAD228;
    border-bottom:4px solid #646464;
}
.plugin-site-manager .nav-pills li:not(.active) > a:hover {
    background-color:#848484;
}
/* Calendar
-----------------------------*/
.calendar-room-legend.panel-default {
    border-color:#ddd;
}